@charset "utf-8";

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #003366;
  font-size: 20px;
  line-height: 1.15;
}
sup {
  margin: 0px 0px 0px 0px !important;
}
/*
.module-homepage-hero .richtext h2.hero-title a {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1) !important;
}
*/

/*Soical Media Icons*/
ul.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

ul.social-icons *,
ul.social-icons *::before,
ul.social-icons *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul.social-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0.5rem;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 1rem;
}

@media (min-width: 600px) {
  ul.social-icons a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

ul.social-icons a:hover,
ul.social-icons a:focus {
  color: #fff;
}

ul.social-icons a:hover span[aria-hidden],
ul.social-icons a:focus span[aria-hidden] {
  color: inherit !important;
}

ul.social-icons a:hover.facebook-logo,
ul.social-icons a:focus.facebook-logo {
  background: #0a5796;
}

ul.social-icons a:hover.facebook-logo .facebook-logo,
ul.social-icons a:focus.facebook-logo .facebook-logo {
  background: #fff;
}

ul.social-icons a:hover.facebook-logo .facebook-logo path,
ul.social-icons a:focus.facebook-logo .facebook-logo path {
  fill: #0a5796;
}

ul.social-icons a:hover.twitter-logo,
ul.social-icons a:focus.twitter-logo {
  background: #007dbd;
}

ul.social-icons a:hover.twitter-logo .twitter-logo,
ul.social-icons a:focus.twitter-logo .twitter-logo {
  background: #fff;
}

ul.social-icons a:hover.twitter-logo .twitter-logo path,
ul.social-icons a:focus.twitter-logo .twitter-logo path {
  fill: #007dbd;
}

ul.social-icons a:hover.youtube-logo,
ul.social-icons a:focus.youtube-logo {
  background: #df0000;
}

ul.social-icons a:hover.youtube-logo .youtube-logo,
ul.social-icons a:focus.youtube-logo .youtube-logo {
  background: #fff;
}

ul.social-icons a:hover.youtube-logo path,
ul.social-icons a:focus.youtube-logo path {
  fill: #df0000;
}

ul.social-icons a:hover.instagram-logo,
ul.social-icons a:focus.instagram-logo {
  background: #f30074;
}

ul.social-icons a:hover.instagram-logo .instagram-logo,
ul.social-icons a:focus.instagram-logo .instagram-logo {
  background: #fff;
}

ul.social-icons a:hover.instagram-logo .instagram-logo path,
ul.social-icons a:focus.instagram-logo .instagram-logo path {
  fill: #f30074;
}

ul.social-icons a svg {
  border-radius: 1rem;
  min-width: 5rem;
  max-width: 10rem;
  display: block;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

@media (min-width: 600px) {
  ul.social-icons a svg {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
  }
}

ul.social-icons a svg.facebook-logo {
  background: #0a5796;
}

ul.social-icons a svg.twitter-logo {
  background: #007dbd;
}

ul.social-icons a svg.youtube-logo {
  background: #df0000;
}

ul.social-icons a svg.instagram-logo {
  background: #f30074;
}

ul.social-icons a svg path {
  fill: #fff;
}

ul.social-icons a span {
  margin-left: 0.75rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media (min-width: 600px) {
  ul.social-icons a span {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

@media (min-width: 600px) {
  ul.social-icons a span[aria-hidden] {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 0px) {
  ul.social-icons li {
    -ms-flex-preferred-size: calc(100% / 1);
    flex-basis: calc(100% / 1);
  }
}

@media (min-width: 600px) {
  ul.social-icons li {
    -ms-flex-preferred-size: calc(100% / 2);
    flex-basis: calc(100% / 2);
  }
}

@media (min-width: 800px) {
  ul.social-icons li {
    -ms-flex-preferred-size: calc(100% / 4);
    flex-basis: calc(100% / 4);
  }
}

/* fix h2 and h3 on mobile */
@media only screen and (max-width: 767px) {
  .about-description h2 {
    font-size: 17px;
  }
  .about-description h3 {
    font-size: 16px;
  }
}
